
.DS_Store
data/.DS_Store
data/mr_1_c/mr_1_c_1
data/mr_1_c/mr_1_c_10
data/mr_1_c/mr_1_c_11
data/mr_1_c/mr_1_c_12
data/mr_1_c/mr_1_c_13
data/mr_1_c/mr_1_c_14
data/mr_1_c/mr_1_c_15
data/mr_1_c/mr_1_c_16
data/mr_1_c/mr_1_c_17
data/mr_1_c/mr_1_c_2
data/mr_1_c/mr_1_c_3
data/mr_1_c/mr_1_c_4
data/mr_1_c/mr_1_c_5
data/mr_1_c/mr_1_c_6
data/mr_1_c/mr_1_c_7
data/mr_1_c/mr_1_c_8
data/mr_1_c/mr_1_c_9
data/mr_1_l/mr_1_l_01.csv
data/mr_1_l/mr_1_l_02.csv
data/mr_1_l/mr_1_l_03.csv
data/mr_1_l/mr_1_l_04.csv
data/mr_1_l/mr_1_l_05.csv
data/mr_1_l/mr_1_l_06.csv
data/mr_1_l/mr_1_l_07.csv
data/mr_1_l/mr_1_l_08.csv
data/mr_1_l/mr_1_l_09.csv
data/mr_1_l/mr_1_l_10.csv
data/mr_1_l/mr_1_l_11.csv
data/mr_1_l/mr_1_l_12.csv
data/mr_1_l/mr_1_l_13.csv
data/mr_1_l/mr_1_l_14.csv
data/mr_1_l/mr_1_l_15.csv
data/mr_1_loc/mr_1_loc_32.0_-113.75.csv
data/mr_1_loc/mr_1_loc_32.0_-114.375.csv
data/mr_1_loc/mr_1_loc_32.0_-115.0.csv
data/mr_1_loc/mr_1_loc_32.0_-115.625.csv
data/mr_1_loc/mr_1_loc_32.0_-116.25.csv
data/mr_1_loc/mr_1_loc_32.0_-116.875.csv
data/mr_1_loc/mr_1_loc_32.0_-117.5.csv
data/mr_1_loc/mr_1_loc_32.0_-118.125.csv
data/mr_1_loc/mr_1_loc_32.0_-118.75.csv
data/mr_1_loc/mr_1_loc_32.0_-119.375.csv
data/mr_1_loc/mr_1_loc_32.0_-120.0.csv
data/mr_1_loc/mr_1_loc_32.0_-120.625.csv
data/mr_1_loc/mr_1_loc_32.0_-121.25.csv
data/mr_1_loc/mr_1_loc_32.0_-121.875.csv
data/mr_1_loc/mr_1_loc_32.0_-122.5.csv
data/mr_1_loc/mr_1_loc_32.0_-123.125.csv
data/mr_1_loc/mr_1_loc_32.0_-123.75.csv
data/mr_1_loc/mr_1_loc_32.5_-113.75.csv
data/mr_1_loc/mr_1_loc_32.5_-114.375.csv
data/mr_1_loc/mr_1_loc_32.5_-115.0.csv
data/mr_1_loc/mr_1_loc_32.5_-115.625.csv
data/mr_1_loc/mr_1_loc_32.5_-116.25.csv
data/mr_1_loc/mr_1_loc_32.5_-116.875.csv
data/mr_1_loc/mr_1_loc_32.5_-117.5.csv
data/mr_1_loc/mr_1_loc_32.5_-118.125.csv
data/mr_1_loc/mr_1_loc_32.5_-118.75.csv
data/mr_1_loc/mr_1_loc_32.5_-119.375.csv
data/mr_1_loc/mr_1_loc_32.5_-120.0.csv
data/mr_1_loc/mr_1_loc_32.5_-120.625.csv
data/mr_1_loc/mr_1_loc_32.5_-121.25.csv
data/mr_1_loc/mr_1_loc_32.5_-121.875.csv
data/mr_1_loc/mr_1_loc_32.5_-122.5.csv
data/mr_1_loc/mr_1_loc_32.5_-123.125.csv
data/mr_1_loc/mr_1_loc_32.5_-123.75.csv
data/mr_1_loc/mr_1_loc_33.0_-113.75.csv
data/mr_1_loc/mr_1_loc_33.0_-114.375.csv
data/mr_1_loc/mr_1_loc_33.0_-115.0.csv
data/mr_1_loc/mr_1_loc_33.0_-115.625.csv
data/mr_1_loc/mr_1_loc_33.0_-116.25.csv
data/mr_1_loc/mr_1_loc_33.0_-116.875.csv
data/mr_1_loc/mr_1_loc_33.0_-117.5.csv
data/mr_1_loc/mr_1_loc_33.0_-118.125.csv
data/mr_1_loc/mr_1_loc_33.0_-118.75.csv
data/mr_1_loc/mr_1_loc_33.0_-119.375.csv
data/mr_1_loc/mr_1_loc_33.0_-120.0.csv
data/mr_1_loc/mr_1_loc_33.0_-120.625.csv
data/mr_1_loc/mr_1_loc_33.0_-121.25.csv
data/mr_1_loc/mr_1_loc_33.0_-121.875.csv
data/mr_1_loc/mr_1_loc_33.0_-122.5.csv
data/mr_1_loc/mr_1_loc_33.0_-123.125.csv
data/mr_1_loc/mr_1_loc_33.0_-123.75.csv
data/mr_1_loc/mr_1_loc_33.5_-113.75.csv
data/mr_1_loc/mr_1_loc_33.5_-114.375.csv
data/mr_1_loc/mr_1_loc_33.5_-115.0.csv
data/mr_1_loc/mr_1_loc_33.5_-115.625.csv
data/mr_1_loc/mr_1_loc_33.5_-116.25.csv
data/mr_1_loc/mr_1_loc_33.5_-116.875.csv
data/mr_1_loc/mr_1_loc_33.5_-117.5.csv
data/mr_1_loc/mr_1_loc_33.5_-118.125.csv
data/mr_1_loc/mr_1_loc_33.5_-118.75.csv
data/mr_1_loc/mr_1_loc_33.5_-119.375.csv
data/mr_1_loc/mr_1_loc_33.5_-120.0.csv
data/mr_1_loc/mr_1_loc_33.5_-120.625.csv
data/mr_1_loc/mr_1_loc_33.5_-121.25.csv
data/mr_1_loc/mr_1_loc_33.5_-121.875.csv
data/mr_1_loc/mr_1_loc_33.5_-122.5.csv
data/mr_1_loc/mr_1_loc_33.5_-123.125.csv
data/mr_1_loc/mr_1_loc_33.5_-123.75.csv
data/mr_1_loc/mr_1_loc_34.0_-113.75.csv
data/mr_1_loc/mr_1_loc_34.0_-114.375.csv
data/mr_1_loc/mr_1_loc_34.0_-115.0.csv
data/mr_1_loc/mr_1_loc_34.0_-115.625.csv
data/mr_1_loc/mr_1_loc_34.0_-116.25.csv
data/mr_1_loc/mr_1_loc_34.0_-116.875.csv
data/mr_1_loc/mr_1_loc_34.0_-117.5.csv
data/mr_1_loc/mr_1_loc_34.0_-118.125.csv
data/mr_1_loc/mr_1_loc_34.0_-118.75.csv
data/mr_1_loc/mr_1_loc_34.0_-119.375.csv
data/mr_1_loc/mr_1_loc_34.0_-120.0.csv
data/mr_1_loc/mr_1_loc_34.0_-120.625.csv
data/mr_1_loc/mr_1_loc_34.0_-121.25.csv
data/mr_1_loc/mr_1_loc_34.0_-121.875.csv
data/mr_1_loc/mr_1_loc_34.0_-122.5.csv
data/mr_1_loc/mr_1_loc_34.0_-123.125.csv
data/mr_1_loc/mr_1_loc_34.0_-123.75.csv
data/mr_1_loc/mr_1_loc_34.5_-113.75.csv
data/mr_1_loc/mr_1_loc_34.5_-114.375.csv
data/mr_1_loc/mr_1_loc_34.5_-115.0.csv
data/mr_1_loc/mr_1_loc_34.5_-115.625.csv
data/mr_1_loc/mr_1_loc_34.5_-116.25.csv
data/mr_1_loc/mr_1_loc_34.5_-116.875.csv
data/mr_1_loc/mr_1_loc_34.5_-117.5.csv
data/mr_1_loc/mr_1_loc_34.5_-118.125.csv
data/mr_1_loc/mr_1_loc_34.5_-118.75.csv
data/mr_1_loc/mr_1_loc_34.5_-119.375.csv
data/mr_1_loc/mr_1_loc_34.5_-120.0.csv
data/mr_1_loc/mr_1_loc_34.5_-120.625.csv
data/mr_1_loc/mr_1_loc_34.5_-121.25.csv
data/mr_1_loc/mr_1_loc_34.5_-121.875.csv
data/mr_1_loc/mr_1_loc_34.5_-122.5.csv
data/mr_1_loc/mr_1_loc_34.5_-123.125.csv
data/mr_1_loc/mr_1_loc_34.5_-123.75.csv
data/mr_1_loc/mr_1_loc_35.0_-113.75.csv
data/mr_1_loc/mr_1_loc_35.0_-114.375.csv
data/mr_1_loc/mr_1_loc_35.0_-115.0.csv
data/mr_1_loc/mr_1_loc_35.0_-115.625.csv
data/mr_1_loc/mr_1_loc_35.0_-116.25.csv
data/mr_1_loc/mr_1_loc_35.0_-116.875.csv
data/mr_1_loc/mr_1_loc_35.0_-117.5.csv
data/mr_1_loc/mr_1_loc_35.0_-118.125.csv
data/mr_1_loc/mr_1_loc_35.0_-118.75.csv
data/mr_1_loc/mr_1_loc_35.0_-119.375.csv
data/mr_1_loc/mr_1_loc_35.0_-120.0.csv
data/mr_1_loc/mr_1_loc_35.0_-120.625.csv
data/mr_1_loc/mr_1_loc_35.0_-121.25.csv
data/mr_1_loc/mr_1_loc_35.0_-121.875.csv
data/mr_1_loc/mr_1_loc_35.0_-122.5.csv
data/mr_1_loc/mr_1_loc_35.0_-123.125.csv
data/mr_1_loc/mr_1_loc_35.0_-123.75.csv
data/mr_1_loc/mr_1_loc_35.5_-113.75.csv
data/mr_1_loc/mr_1_loc_35.5_-114.375.csv
data/mr_1_loc/mr_1_loc_35.5_-115.0.csv
data/mr_1_loc/mr_1_loc_35.5_-115.625.csv
data/mr_1_loc/mr_1_loc_35.5_-116.25.csv
data/mr_1_loc/mr_1_loc_35.5_-116.875.csv
data/mr_1_loc/mr_1_loc_35.5_-117.5.csv
data/mr_1_loc/mr_1_loc_35.5_-118.125.csv
data/mr_1_loc/mr_1_loc_35.5_-118.75.csv
data/mr_1_loc/mr_1_loc_35.5_-119.375.csv
data/mr_1_loc/mr_1_loc_35.5_-120.0.csv
data/mr_1_loc/mr_1_loc_35.5_-120.625.csv
data/mr_1_loc/mr_1_loc_35.5_-121.25.csv
data/mr_1_loc/mr_1_loc_35.5_-121.875.csv
data/mr_1_loc/mr_1_loc_35.5_-122.5.csv
data/mr_1_loc/mr_1_loc_35.5_-123.125.csv
data/mr_1_loc/mr_1_loc_35.5_-123.75.csv
data/mr_1_loc/mr_1_loc_36.0_-113.75.csv
data/mr_1_loc/mr_1_loc_36.0_-114.375.csv
data/mr_1_loc/mr_1_loc_36.0_-115.0.csv
data/mr_1_loc/mr_1_loc_36.0_-115.625.csv
data/mr_1_loc/mr_1_loc_36.0_-116.25.csv
data/mr_1_loc/mr_1_loc_36.0_-116.875.csv
data/mr_1_loc/mr_1_loc_36.0_-117.5.csv
data/mr_1_loc/mr_1_loc_36.0_-118.125.csv
data/mr_1_loc/mr_1_loc_36.0_-118.75.csv
data/mr_1_loc/mr_1_loc_36.0_-119.375.csv
data/mr_1_loc/mr_1_loc_36.0_-120.0.csv
data/mr_1_loc/mr_1_loc_36.0_-120.625.csv
data/mr_1_loc/mr_1_loc_36.0_-121.25.csv
data/mr_1_loc/mr_1_loc_36.0_-121.875.csv
data/mr_1_loc/mr_1_loc_36.0_-122.5.csv
data/mr_1_loc/mr_1_loc_36.0_-123.125.csv
data/mr_1_loc/mr_1_loc_36.0_-123.75.csv
data/mr_1_loc/mr_1_loc_36.5_-113.75.csv
data/mr_1_loc/mr_1_loc_36.5_-114.375.csv
data/mr_1_loc/mr_1_loc_36.5_-115.0.csv
data/mr_1_loc/mr_1_loc_36.5_-115.625.csv
data/mr_1_loc/mr_1_loc_36.5_-116.25.csv
data/mr_1_loc/mr_1_loc_36.5_-116.875.csv
data/mr_1_loc/mr_1_loc_36.5_-117.5.csv
data/mr_1_loc/mr_1_loc_36.5_-118.125.csv
data/mr_1_loc/mr_1_loc_36.5_-118.75.csv
data/mr_1_loc/mr_1_loc_36.5_-119.375.csv
data/mr_1_loc/mr_1_loc_36.5_-120.0.csv
data/mr_1_loc/mr_1_loc_36.5_-120.625.csv
data/mr_1_loc/mr_1_loc_36.5_-121.25.csv
data/mr_1_loc/mr_1_loc_36.5_-121.875.csv
data/mr_1_loc/mr_1_loc_36.5_-122.5.csv
data/mr_1_loc/mr_1_loc_36.5_-123.125.csv
data/mr_1_loc/mr_1_loc_36.5_-123.75.csv
data/mr_1_loc/mr_1_loc_37.0_-113.75.csv
data/mr_1_loc/mr_1_loc_37.0_-114.375.csv
data/mr_1_loc/mr_1_loc_37.0_-115.0.csv
data/mr_1_loc/mr_1_loc_37.0_-115.625.csv
data/mr_1_loc/mr_1_loc_37.0_-116.25.csv
data/mr_1_loc/mr_1_loc_37.0_-116.875.csv
data/mr_1_loc/mr_1_loc_37.0_-117.5.csv
data/mr_1_loc/mr_1_loc_37.0_-118.125.csv
data/mr_1_loc/mr_1_loc_37.0_-118.75.csv
data/mr_1_loc/mr_1_loc_37.0_-119.375.csv
data/mr_1_loc/mr_1_loc_37.0_-120.0.csv
data/mr_1_loc/mr_1_loc_37.0_-120.625.csv
data/mr_1_loc/mr_1_loc_37.0_-121.25.csv
data/mr_1_loc/mr_1_loc_37.0_-121.875.csv
data/mr_1_loc/mr_1_loc_37.0_-122.5.csv
data/mr_1_loc/mr_1_loc_37.0_-123.125.csv
data/mr_1_loc/mr_1_loc_37.0_-123.75.csv
data/mr_1_loc/mr_1_loc_37.5_-113.75.csv
data/mr_1_loc/mr_1_loc_37.5_-114.375.csv
data/mr_1_loc/mr_1_loc_37.5_-115.0.csv
data/mr_1_loc/mr_1_loc_37.5_-115.625.csv
data/mr_1_loc/mr_1_loc_37.5_-116.25.csv
data/mr_1_loc/mr_1_loc_37.5_-116.875.csv
data/mr_1_loc/mr_1_loc_37.5_-117.5.csv
data/mr_1_loc/mr_1_loc_37.5_-118.125.csv
data/mr_1_loc/mr_1_loc_37.5_-118.75.csv
data/mr_1_loc/mr_1_loc_37.5_-119.375.csv
data/mr_1_loc/mr_1_loc_37.5_-120.0.csv
data/mr_1_loc/mr_1_loc_37.5_-120.625.csv
data/mr_1_loc/mr_1_loc_37.5_-121.25.csv
data/mr_1_loc/mr_1_loc_37.5_-121.875.csv
data/mr_1_loc/mr_1_loc_37.5_-122.5.csv
data/mr_1_loc/mr_1_loc_37.5_-123.125.csv
data/mr_1_loc/mr_1_loc_37.5_-123.75.csv
data/mr_1_loc/mr_1_loc_38.0_-113.75.csv
data/mr_1_loc/mr_1_loc_38.0_-114.375.csv
data/mr_1_loc/mr_1_loc_38.0_-115.0.csv
data/mr_1_loc/mr_1_loc_38.0_-115.625.csv
data/mr_1_loc/mr_1_loc_38.0_-116.25.csv
data/mr_1_loc/mr_1_loc_38.0_-116.875.csv
data/mr_1_loc/mr_1_loc_38.0_-117.5.csv
data/mr_1_loc/mr_1_loc_38.0_-118.125.csv
data/mr_1_loc/mr_1_loc_38.0_-118.75.csv
data/mr_1_loc/mr_1_loc_38.0_-119.375.csv
data/mr_1_loc/mr_1_loc_38.0_-120.0.csv
data/mr_1_loc/mr_1_loc_38.0_-120.625.csv
data/mr_1_loc/mr_1_loc_38.0_-121.25.csv
data/mr_1_loc/mr_1_loc_38.0_-121.875.csv
data/mr_1_loc/mr_1_loc_38.0_-122.5.csv
data/mr_1_loc/mr_1_loc_38.0_-123.125.csv
data/mr_1_loc/mr_1_loc_38.0_-123.75.csv
data/mr_1_loc/mr_1_loc_38.5_-113.75.csv
data/mr_1_loc/mr_1_loc_38.5_-114.375.csv
data/mr_1_loc/mr_1_loc_38.5_-115.0.csv
data/mr_1_loc/mr_1_loc_38.5_-115.625.csv
data/mr_1_loc/mr_1_loc_38.5_-116.25.csv
data/mr_1_loc/mr_1_loc_38.5_-116.875.csv
data/mr_1_loc/mr_1_loc_38.5_-117.5.csv
data/mr_1_loc/mr_1_loc_38.5_-118.125.csv
data/mr_1_loc/mr_1_loc_38.5_-118.75.csv
data/mr_1_loc/mr_1_loc_38.5_-119.375.csv
data/mr_1_loc/mr_1_loc_38.5_-120.0.csv
data/mr_1_loc/mr_1_loc_38.5_-120.625.csv
data/mr_1_loc/mr_1_loc_38.5_-121.25.csv
data/mr_1_loc/mr_1_loc_38.5_-121.875.csv
data/mr_1_loc/mr_1_loc_38.5_-122.5.csv
data/mr_1_loc/mr_1_loc_38.5_-123.125.csv
data/mr_1_loc/mr_1_loc_38.5_-123.75.csv
data/mr_1_loc/mr_1_loc_39.0_-113.75.csv
data/mr_1_loc/mr_1_loc_39.0_-114.375.csv
data/mr_1_loc/mr_1_loc_39.0_-115.0.csv
data/mr_1_loc/mr_1_loc_39.0_-115.625.csv
data/mr_1_loc/mr_1_loc_39.0_-116.25.csv
data/mr_1_loc/mr_1_loc_39.0_-116.875.csv
data/mr_1_loc/mr_1_loc_39.0_-117.5.csv
data/mr_1_loc/mr_1_loc_39.0_-118.125.csv
data/mr_1_loc/mr_1_loc_39.0_-118.75.csv
data/mr_1_loc/mr_1_loc_39.0_-119.375.csv
data/mr_1_loc/mr_1_loc_39.0_-120.0.csv
data/mr_1_loc/mr_1_loc_39.0_-120.625.csv
data/mr_1_loc/mr_1_loc_39.0_-121.25.csv
data/mr_1_loc/mr_1_loc_39.0_-121.875.csv
data/mr_1_loc/mr_1_loc_39.0_-122.5.csv
data/mr_1_loc/mr_1_loc_39.0_-123.125.csv
data/mr_1_loc/mr_1_loc_39.0_-123.75.csv
data/mr_1_loc/mr_1_loc_39.5_-113.75.csv
data/mr_1_loc/mr_1_loc_39.5_-114.375.csv
data/mr_1_loc/mr_1_loc_39.5_-115.0.csv
data/mr_1_loc/mr_1_loc_39.5_-115.625.csv
data/mr_1_loc/mr_1_loc_39.5_-116.25.csv
data/mr_1_loc/mr_1_loc_39.5_-116.875.csv
data/mr_1_loc/mr_1_loc_39.5_-117.5.csv
data/mr_1_loc/mr_1_loc_39.5_-118.125.csv
data/mr_1_loc/mr_1_loc_39.5_-118.75.csv
data/mr_1_loc/mr_1_loc_39.5_-119.375.csv
data/mr_1_loc/mr_1_loc_39.5_-120.0.csv
data/mr_1_loc/mr_1_loc_39.5_-120.625.csv
data/mr_1_loc/mr_1_loc_39.5_-121.25.csv
data/mr_1_loc/mr_1_loc_39.5_-121.875.csv
data/mr_1_loc/mr_1_loc_39.5_-122.5.csv
data/mr_1_loc/mr_1_loc_39.5_-123.125.csv
data/mr_1_loc/mr_1_loc_39.5_-123.75.csv
data/mr_1_loc/mr_1_loc_40.0_-113.75.csv
data/mr_1_loc/mr_1_loc_40.0_-114.375.csv
data/mr_1_loc/mr_1_loc_40.0_-115.0.csv
data/mr_1_loc/mr_1_loc_40.0_-115.625.csv
data/mr_1_loc/mr_1_loc_40.0_-116.25.csv
data/mr_1_loc/mr_1_loc_40.0_-116.875.csv
data/mr_1_loc/mr_1_loc_40.0_-117.5.csv
data/mr_1_loc/mr_1_loc_40.0_-118.125.csv
data/mr_1_loc/mr_1_loc_40.0_-118.75.csv
data/mr_1_loc/mr_1_loc_40.0_-119.375.csv
data/mr_1_loc/mr_1_loc_40.0_-120.0.csv
data/mr_1_loc/mr_1_loc_40.0_-120.625.csv
data/mr_1_loc/mr_1_loc_40.0_-121.25.csv
data/mr_1_loc/mr_1_loc_40.0_-121.875.csv
data/mr_1_loc/mr_1_loc_40.0_-122.5.csv
data/mr_1_loc/mr_1_loc_40.0_-123.125.csv
data/mr_1_loc/mr_1_loc_40.0_-123.75.csv
data/mr_1_loc/mr_1_loc_40.5_-113.75.csv
data/mr_1_loc/mr_1_loc_40.5_-114.375.csv
data/mr_1_loc/mr_1_loc_40.5_-115.0.csv
data/mr_1_loc/mr_1_loc_40.5_-115.625.csv
data/mr_1_loc/mr_1_loc_40.5_-116.25.csv
data/mr_1_loc/mr_1_loc_40.5_-116.875.csv
data/mr_1_loc/mr_1_loc_40.5_-117.5.csv
data/mr_1_loc/mr_1_loc_40.5_-118.125.csv
data/mr_1_loc/mr_1_loc_40.5_-118.75.csv
data/mr_1_loc/mr_1_loc_40.5_-119.375.csv
data/mr_1_loc/mr_1_loc_40.5_-120.0.csv
data/mr_1_loc/mr_1_loc_40.5_-120.625.csv
data/mr_1_loc/mr_1_loc_40.5_-121.25.csv
data/mr_1_loc/mr_1_loc_40.5_-121.875.csv
data/mr_1_loc/mr_1_loc_40.5_-122.5.csv
data/mr_1_loc/mr_1_loc_40.5_-123.125.csv
data/mr_1_loc/mr_1_loc_40.5_-123.75.csv
data/mr_1_loc/mr_1_loc_41.0_-113.75.csv
data/mr_1_loc/mr_1_loc_41.0_-114.375.csv
data/mr_1_loc/mr_1_loc_41.0_-115.0.csv
data/mr_1_loc/mr_1_loc_41.0_-115.625.csv
data/mr_1_loc/mr_1_loc_41.0_-116.25.csv
data/mr_1_loc/mr_1_loc_41.0_-116.875.csv
data/mr_1_loc/mr_1_loc_41.0_-117.5.csv
data/mr_1_loc/mr_1_loc_41.0_-118.125.csv
data/mr_1_loc/mr_1_loc_41.0_-118.75.csv
data/mr_1_loc/mr_1_loc_41.0_-119.375.csv
data/mr_1_loc/mr_1_loc_41.0_-120.0.csv
data/mr_1_loc/mr_1_loc_41.0_-120.625.csv
data/mr_1_loc/mr_1_loc_41.0_-121.25.csv
data/mr_1_loc/mr_1_loc_41.0_-121.875.csv
data/mr_1_loc/mr_1_loc_41.0_-122.5.csv
data/mr_1_loc/mr_1_loc_41.0_-123.125.csv
data/mr_1_loc/mr_1_loc_41.0_-123.75.csv
data/mr_1_loc/mr_1_loc_41.5_-113.75.csv
data/mr_1_loc/mr_1_loc_41.5_-114.375.csv
data/mr_1_loc/mr_1_loc_41.5_-115.0.csv
data/mr_1_loc/mr_1_loc_41.5_-115.625.csv
data/mr_1_loc/mr_1_loc_41.5_-116.25.csv
data/mr_1_loc/mr_1_loc_41.5_-116.875.csv
data/mr_1_loc/mr_1_loc_41.5_-117.5.csv
data/mr_1_loc/mr_1_loc_41.5_-118.125.csv
data/mr_1_loc/mr_1_loc_41.5_-118.75.csv
data/mr_1_loc/mr_1_loc_41.5_-119.375.csv
data/mr_1_loc/mr_1_loc_41.5_-120.0.csv
data/mr_1_loc/mr_1_loc_41.5_-120.625.csv
data/mr_1_loc/mr_1_loc_41.5_-121.25.csv
data/mr_1_loc/mr_1_loc_41.5_-121.875.csv
data/mr_1_loc/mr_1_loc_41.5_-122.5.csv
data/mr_1_loc/mr_1_loc_41.5_-123.125.csv
data/mr_1_loc/mr_1_loc_41.5_-123.75.csv
data/mr_1_loc/mr_1_loc_42.0_-113.75.csv
data/mr_1_loc/mr_1_loc_42.0_-114.375.csv
data/mr_1_loc/mr_1_loc_42.0_-115.0.csv
data/mr_1_loc/mr_1_loc_42.0_-115.625.csv
data/mr_1_loc/mr_1_loc_42.0_-116.25.csv
data/mr_1_loc/mr_1_loc_42.0_-116.875.csv
data/mr_1_loc/mr_1_loc_42.0_-117.5.csv
data/mr_1_loc/mr_1_loc_42.0_-118.125.csv
data/mr_1_loc/mr_1_loc_42.0_-118.75.csv
data/mr_1_loc/mr_1_loc_42.0_-119.375.csv
data/mr_1_loc/mr_1_loc_42.0_-120.0.csv
data/mr_1_loc/mr_1_loc_42.0_-120.625.csv
data/mr_1_loc/mr_1_loc_42.0_-121.25.csv
data/mr_1_loc/mr_1_loc_42.0_-121.875.csv
data/mr_1_loc/mr_1_loc_42.0_-122.5.csv
data/mr_1_loc/mr_1_loc_42.0_-123.125.csv
data/mr_1_loc/mr_1_loc_42.0_-123.75.csv
data/raw/full_dataset1.csv
data/raw/full_dataset3.csv
data/raw/full_dataset4.csv
